language: groovy

install:
  # Secrets (including encrypted PGP key) are not available in PR - skip release configuration to do not fail build
  - |
    if [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then
      # There is problem with aborting build on command in if failure - http://steven.casagrande.io/articles/travis-ci-and-if-statements/
      openssl aes-256-cbc -K $encrypted_5393bb1c9f2d_key -iv $encrypted_5393bb1c9f2d_iv -in gradle/gpg-key.asc.enc -d | gpg --fast-import || travis_terminate 1
      export GRADLE_OPTS='-Dorg.gradle.project.signing.keyId=0694F057 -Dorg.gradle.project.signing.secretKeyRingFile=$HOME/.gnupg/secring.gpg -Dorg.gradle.project.signing.password= -Dorg.gradle.project.gradle.publish.key=$PLUGIN_PORTAL_API_KEY -Dorg.gradle.project.gradle.publish.secret=$PLUGIN_PORTAL_API_SECRET'
    fi;
  - "export TRAVIS_COMMIT_MSG=$(git log --format=%B -n 1 $TRAVIS_COMMIT)"
  - git config user.email "szpak-ci@users.noreply.github.com"
  - git config user.name "Szpak CI Bot"
  # Chandler for release notes synchronization
  - ruby --version
  - rvm install 2.4.1
  - ruby --version
  # last Ruby 2.4 compatible version
  - gem install --no-document faraday -v 1.10.1
  - gem install --no-document faraday-net_http -v 2.1.0
  - gem install --no-document public_suffix -v 4.0.7
  - gem install --no-document octokit -v 4.25.1 
  - gem install --no-document chandler -v 0.7.0

script:
  - ./gradlew prepareForCiBuild -s -i -Prelease.disableChecks && ./gradlew funcTest ciBuild -s -i -Pcompatibility -Prelease.disableChecks -PpluginPortal -PchangelogSync

cache:
  directories:
    - $HOME/.gradle/caches/

env:
  global:
  - secure: HfMYoa5jyF43g33PZZYOqPDu53z5//MdKRBy3C7EVxK8akje833YFJUARPJtfi0VR6Moa+JhUGkkDLFxQc2f4kL+q0NO39ULfkFLgOcPYHETNw8u2N8SGvksv0qUSNDnOImHqUkUZ8I8PlHzP3u/pclU4d4gfs/m3aoOm1pYeEc=
  - secure: bszdL2Ib7xbHHNuCPKq0sj4mxH2GDPcyFKSKfyGGqpupcaZfsYQtuuxDtVFhkW1Uh+BcEJ8XhS/iXHJrgLwirz0/tgbDm2cz2nUxR5fkcmTm50Rep3QfoDeYMMq9mkuCw6B9Vz/M4eEamSBfgxpqPGA96yhtBG8KklFLWc/6++o=
  - secure: Oco34JI8O6pDISUjogUuqGFYRmrI6m3wZkrzMbj3dwjQ3gna1q7S5FmZWVbQelkufJ5jP1V7Ny7QjeqGX4yDsaj+gt1QF/nbZvWRnOXu3gastspEfZrPEziOngfIH4//urUaFqikdPdqmvXqLvCvtW7TaWDvN3NDb1Rx1w8kiYg=
  - secure: cyJye89u5k+Ct13HC95LME72pdsXmtmWJIR3x4MxQfvFG/Q1Uz3FtnSj7oJH5xJ9oH3bzHd0k5sB38u1g2LTIov/Em+dSVBIGgcs49nMSlbVye0Ilt7A1x0c/7LidxKT/DiWu4jgFcf8VyEdd9LVQXBaO12sLsk6nk6RjTUKnU8=
matrix:
  include:
    - jdk: openjdk11
      env: PITEST_REGRESSION_TESTS=quick
    - jdk: openjdk15
      env: PITEST_REGRESSION_TESTS=latestOnly SKIP_RELEASE=true
    - env: JDK="OpenJ9 11" PITEST_REGRESSION_TESTS=quick SKIP_RELEASE=true
      before_install:
        - . gradle/install-jdk.sh -W ~/custom-java --url "https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=openj9&os=linux&arch=x64&release=latest&type=jdk&heap_size=normal"
        - ./gradlew --version
